*{ 
  position: relative;
  background: #202020;
  font-family: Roboto Mono;
}

header {
  font-style: normal;
  color: #FAE1C3;
 
}

.title {
  margin-top: 59px;
  margin-left: 29px;
}


@media screen and (max-width: 600px) {
  header {
    font-size: 20px;
  }

  .dropbtn {
    width: 571px;
    height: 81px;
    font-size: 24px;
  }
}

@media screen and (min-width: 600px) {
  header {
    font-size: 25px;
  }

  .dropbtn {
    width: 671px;
    height: 81px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  header {
    font-size: 27px;
  }

  .dropbtn {
    width: 771px;
    height: 81px;
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  header {
    font-size: 29px;
  }

  .dropbtn {
    width: 871px;
    height: 81px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    font-size: 32px;
  }

  .dropbtn {
    width: 971px;
    height: 81px;
    font-size: 40px;
  }
}

@media screen and (min-width: 1300px) {
  header {
    font-size: 32px;
  }

  .dropbtn {
    width: 971px;
    height: 81px;
    font-size: 48px;
  }
}

.select {
  background: #FAE1C3;
  height:81px;
  width: 970px;
  border-radius: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 225px;
  margin-left: 450px;
  position: relative;
}

.select button {
  width: 95%;
  height: 95%;
  background-color: #FAE1C3;
  border: none;
  color: #202020;
  font-size: 32px;
  font-style: italic;
}

.select button:hover {
  color: #c0ac98;
}

.select ul {
  position: absolute;
  background: #FAE1C3;
  margin-top: 245px;
  width: 930px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  border-radius: 24px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.select li {
  background-color: #FAE1C3;
  color: #FAE1C3;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.select a {
  color: #202020;
  background-color: #FAE1C3;
  text-decoration: none;
  font-size: 24px;
}

.select a:hover {
  color: #c0ac98;
}


.select button:focus + ul{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}







